.row
  .col-md-12.p-4
    .page-header
      %h1 View Carers
    %table.table.table-striped
      %tr
        %th
          Name
        %th
          Email
        %th
          Telephone
      - @carers.each do |carer|
        %tr
          %td
            = carer['first-name']
            = carer['last-name']
          %td
            = carer.email
          %td
            = carer['primary-phone']
