.login-wrap
  .login-container
    .box
      %header.box-header
        %h3 login
      .box-body.login-form-1
        = form_tag users_auth_path do
          .login-form-main-message
          .main-login-form
            .login-group
              .form-group
                .input-group
                  %span.input-group-addon
                    Email
                  = text_field :user, :email
              .form-group
                .input-group
                  %span.input-group-addon
                    Password
                  = password_field :user, :password
              .form-group
                %button.btn.btn-lg.btn-primary{:type => "submit"}
                  Login
