.box {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-content: center;
  justify-content: space-around;

  .box-header {
    background: #ccc;
    padding: 1em;
  }
  .box-body {
    background: #fff;
    padding: 2em;
  }
}
