.login-wrap {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;

}


.login-container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 25vh;
  padding: 1em;
  width: 25vw;


}
