%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  %a.navbar-brand{:href => "#"} Ant Grimmitt Code Test
  %button.navbar-toggler{'aria-controls': 'navbarSupportedContent', 'aria-expanded': false, 'aria-label': 'Toggle navigation', data: {target: '#navbarSupportedContent', toggle: 'collapse'}}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item.active
        %a.nav-link{:href => "/"}
          Home
          %span.sr-only (current)
      %li.nav-item
        = link_to 'View Carers', carers_path, class: 'nav-link'
    = form_tag users_logout_path, class: ' form-inline my-2 my-lg-0' do
      %button.btn.btn-outline-success.my-2.my-sm-0{:type => "submit"} Logout
