!!!
%html
  %head
    %title Ant Grimmitt Code Test
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    - if session[:user]
      = render partial: 'header'
    = yield
